{% extends 'base.html.twig' %}

{% block title %}Pressing{% endblock %}

{% block body %}
    <center>
        <div class="col-lg-6">
            <small class="text-light fw-semibold">Informations</small>
            <div class="demo-inline-spacing mt-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center">

                        <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Image: </strong> <img src="" alt="">
                    </li>
                    <li class="list-group-item d-flex align-items-center">

                        <strong class="mx-3"><i class="bx bx-id-card me-2"></i> Nom: </strong> {{ pressing.nom }}
                    </li>
                    <li class="list-group-item d-flex align-items-center">

                        <strong class="mx-3"><i class="bx bx-location-plus me-2"></i> Adresse:
                        </strong> {{ pressing.adresse }}
                    </li>
                    <li class="list-group-item d-flex align-items-center">

                        <strong class="mx-3"><i class="bx bx-phone-call me-2"></i> Téléphone:
                        </strong> {{ pressing.telephone }}
                    </li>

                    <li class="list-group-item d-flex align-items-center">

                        <strong class="mx-3"> <i class="bx bx-calendar me-2"></i> Date de création: </strong>
                        {{ pressing.createdAt ? pressing.createdAt|date('Y-m-d H:i:s') : '' }}
                    </li>

                </ul>
            </div>
        </div>

    </center>
{% endblock %}
