{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}
{% block config %}active{% endblock %}
{% block articles %}active{% endblock %}

{% block body %}

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Formulaire/</span> d'ajout d'un article
        <a href="{{ path('app_articles_index') }}" class="btn btn-info"><i class="bx bx-list"></i>Liste des articles</a>
    </h4>

    {{ include('articles/_form.html.twig') }}
{% endblock %}
