{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Formulaire/</span> de modification d'un Client <a href="{{ path('app_client_index') }}" class="btn btn-info"><i class="bx bx-list"></i>Liste des utilisateurs</a></h4>
    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
    
{% endblock %}
